*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#left-inner-body::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  #left-inner-body::-webkit-scrollbar-track {
    background: none
  }
  
  /* Handle */
  #left-inner-body::-webkit-scrollbar-thumb {
    background: #7a058c;
    
  }
  
  /* Handle on hover */
  #left-inner-body::-webkit-scrollbar-thumb:hover {
    background: #bc08c3;
    
  }


  /* chat container */

  #chat-container::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
 
  #chat-container::-webkit-scrollbar-track {
    background: none
  }
  
  /* Handle */

  #chat-container::-webkit-scrollbar-thumb {
    background: #05468c;
    
  }
  
  /* Handle on hover */

  #chat-container::-webkit-scrollbar-thumb:hover {
    background: #bc08c3;
    
  }
  